<div class="header">
    Lassen Sie sich inspirieren: <a href="javascript:void(0);" class="header__play-btn"><i class="play-icon"></i>Ein Tag mit Somfy Smart Home</a>
    <a href="javascript:void(0);" class="header__close-btn"><i class="close-icon"></i></a>
</div>
