{# @see '@SonataAdmin/CRUD/list__action_edit.html.twig' #}
{# @var \App\Admin\AbstractAdmin admin #}
{# @var \App\Entity\Reading object #}

{% if object.order is null and admin.hasAccess('edit', object) and admin.hasRoute('edit') %}
    {% set button_content = sonata_config.getOption('list_action_button_content') %}
    <a
        href="{{ admin.generateObjectUrl('edit', object, actions.link_parameters|default([])) }}"
        class="btn btn-sm btn-default edit_link"
        title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"
    >
        {% if button_content == 'icon' or button_content == 'all' %}
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        {% endif %}
        {% if button_content == 'text' or button_content == 'all' %}
            {{ 'action_edit'|trans({}, 'SonataAdminBundle') }}
        {% else %}
            <span class="sr-only">
                {{ 'action_edit'|trans({}, 'SonataAdminBundle') }}
            </span>
        {% endif %}
    </a>
{% endif %}
