@import "variables";

.list{
    @extend .list-reset;

    li{
        margin: 0 0 5px 0;
    }
}

.small-text{
    @include normal-font(11px, 12px);
    margin: 0 0 10px 0;
}

a {
    display: inline-block;
    text-decoration: none;

    &:focus,
    &:active{
        outline: none;
    }

    &:hover{
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    margin: $headingMargin;
}

h1 {
    //@include normal-font($h1FontSize, $h1FontSize + 4);
}

h2 {
    //@include normal-font($h2FontSize, $h2FontSize + 4);
}

h3 {
    //@include normal-font($h3FontSize, $h3FontSize + 4);
}

h4 {
    //@include normal-font($h4FontSize, $h4FontSize + 4);
}

h5 {
    //@include normal-font($h5FontSize, $h5FontSize + 8);
}

h6 {
    //@include normal-font($h6FontSize, $h6FontSize + 4);
}

p {
    @include normal-font($paragraphFontSize, $paragraphLineHeight);
    //margin: $paragraphMargin;
    padding: $paragraphPadding;
}
