@include font-face('SomfySans-Light', '../../fonts/SomfySans-Light');
@include font-face('SomfySans-Regular', '../../fonts/SomfySans-Regular');
@include font-face('SomfySans-Medium', '../../fonts/SomfySans-Medium');

// *** Custom fonts *** //
$fontSomfySansLight: "SomfySans-Light", sans-serif;
$fontSomfySansRegular: "SomfySans-Regular", sans-serif;
$fontSomfySansMedium: "SomfySans-Medium", sans-serif;

//*-------------base variables------------*/
$bodyHeight: 100%;
$borderRadius: 5px;
$centeredWidth: 1345px;
$centeredPadding: 0 15px;

// *** Colors *** //
$mainFontColor: #000;
$placeholderColor: #666666;

// *** Tables *** //
$tableWidth: 100%;
$theadBackground: #F8F8F8;
$tdHoverBackground: #F8F8F8;
$zebraBackground: #F2F2F2;

// *** Base font variables *** //
$linkColor: #576094;
$baseFontSize: 14px;
$baseLineHeight: 21px;

// *** Headers sizes *** //
$h1FontSize: 36px;
$h2FontSize: 26px;
$h3FontSize: 22px;
$h4FontSize: 18px;
$h5FontSize: 16px;
$h6FontSize: 11px;

$headingMargin: 0 0 15px 0;
$headingColor: $mainFontColor;

// *** List styles *** //
$listMargin: 0 0 20px 0;
$listPadding: 0 0 0 18px;
$listUnordered: disc;
$listOrdered: decimal;
$listElemPadding: 2px;
$listElemMargin: 5px 0 0;
$listItemFontSize: 16px;
$listItemLineHeight: 22px;
$listItemMargin: 0 0 5px 0;

// *** Paragraph styles *** //
$paragraphFontSize: 14px;
$paragraphLineHeight: 24px;
$paragraphPadding: 0;
$paragraphColor: $mainFontColor;
$textIndent: 25px;
