/.idea
/.docker/mysql/data/*
#/config/secrets/prod/prod.decrypt.private.php
/node_modules/
/public/assets/
/public/bundles/
/public/tiles/*
/public/upload/*
#/tiles/*
/var/cache/*
/var/data/images/*/*
/var/data/files/*/*
/var/log/*
/var/session/*
/vendor/
/.env.local
/.env.local.php
/.env.*.local
/.php-cs-fixer.cache
!.gitkeep
/.php-version
