.v-footer {
    box-shadow: none !important;
    background: none !important;
    padding: 0 !important;
    display: block !important;
}

.footer {

    &__questions {
        margin-bottom: 35px;

        &--title {
            text-align: center;
            color: #4a4a4a;
            @include normal-font(28px, 35px);
            font-family: $fontSomfySansLight;
            position: relative;
            margin-bottom: 40px;

            @media (max-width: 1100px) {
                margin-bottom: 23px;
            }
        }

        &--actions {
            @include flexbox();
            @include justify-content(space-between);
            margin-bottom: 32px;

            &-btn {
                @include transition(color 0.2s ease-in-out, border 0.2s ease-in-out, background 0.2s ease-in-out);
                padding: 10px 30px;
                @include normal-font(14px, 22px);
                border-radius: 4px;
                color: #fff !important;
                background: #2b4560;
                @include flexbox();
                @include justify-content(center);
                font-family: $fontSomfySansRegular;
                min-width: 250px;
                border: 1px solid transparent;

                &:hover {
                    text-decoration: none;
                    background: none;
                    color: #2b4560 !important;
                    border-color: #2b4560;
                }

                &.hollow {
                    background: none;
                    border-color: #fcac22;
                    color: #fcac22 !important;

                    &:hover {
                        background: #fcac22;
                        color: #fff !important;
                    }
                }

                &.text {
                    color: #fcac22 !important;
                    background: none;

                    &:hover {
                        border-color: #fcac22;
                        background: #fcac22;
                        color: #fff !important;
                    }
                }
            }

            @media (max-width: 1100px) {
                @include flex-direction(column);

                &-btn {
                    margin-bottom: 25px;

                    &.text {
                        margin-bottom: 0;
                    }
                }
            }
        }

        @media (max-width: 991px) {
            margin-bottom: 20px;
        }
    }

    &__bottom {
        padding: 11px 0 28px;
        border-top: 1px solid rgba(236, 236, 236, 0.5);
        @include flexbox();
        @include align-items(center);

        &--copy {
            color: #8996a4;
            @include normal-font(14px, 19px);
        }

        &--menu {
            margin-left: auto;
            @extend .list-reset;
            @include flexbox();
            @include align-items(center);
            padding-left: 0 !important;

            li {
                a {
                    color: #8996a4;
                    @include normal-font(14px, 19px);
                }

                + li {
                    margin-left: 25px;
                }
            }
        }

        @media (max-width: 991px) {
            @include flex-direction(column-reverse);
            border-top: none;

            &--menu {
                margin-left: 0;
                @include flex-wrap(wrap);
                @include justify-content(center);
                margin-bottom: 15px;
            }
        }
    }
}
