.header {
    background: #495057 url("../../images/header-bg.png") top left no-repeat;
    //@include background-size(contain);
    padding: 9px 120px 9px 20px;
    color: #fff;
    font-family: $fontSomfySansLight;
    @include normal-font(14px, 14px);
    @include flexbox();
    @include align-items(center);
    @include justify-content(flex-end);
    position: relative;

    &__play-btn {
        @include normal-font(19px, 32px);
        color: #fff !important;
        @include flexbox();
        @include align-items(center);
        margin-left: 10px;

        i {
            font-size: 26px;
            margin-right: 8px;
        }
    }

    &__close-btn {
        position: absolute;
        top: 16px;
        right: 24px;
        font-size: 18px;
        color: #fff !important;
        @include opacity(0.65);
        @include transition(opacity 0.2s ease-in-out);

        &:hover {
            @include opacity(1);
            text-decoration: none;
        }
    }

    @media (max-width: 991px) {
        background: #495057 url("../../images/header-bg-mobile.jpg") center center no-repeat;
        @include background-size(cover);
    }

    @media (max-width: 768px) {
        @include flex-direction(column);
        padding: 9px 20px;

        &__play-btn {
            margin-left: 0;
        }

        &__close-btn {
            font-size: 24px;
            top: 10px;
            right: 10px;
            @include opacity(1);
        }
    }
}
