.v-dialog{
    background: #fff;

    .v-card{
        padding: 15px 25px 30px;

        > .v-card__title{
            color: #485c74;
            font-size: 28px;
            margin-bottom: 18px;
            font-family: $fontSomfySansLight;
            @include justify-content(center);
            padding: 0;
        }

        > .v-card__text{
            padding: 0;
        }

        .v-card__subtitle{
            padding: 0;
            text-align: center;
            color: #343a40;
            @include normal-font(16px, 21px);
            font-family: $fontSomfySansLight;
            margin-bottom: 10px;
        }

        &__link{
            text-align: center;
            margin-bottom: 20px;
            @include normal-font(14px, 21px);
            font-family: $fontSomfySansLight;
            text-decoration: underline;

            &:hover{
                text-decoration: none;
            }
        }
    }

    &__close{
        position: absolute;
        top: 5px;
        right: 5px;
        color: #8996a4;
    }
}
