#fp-nav {
    &.fp-right {
        z-index: 10;
        ul {
            li {
                margin: 0 0 10px 0;
                width: 7px;
                height: 7px;

                &:not(:first-child){

                    a:before {
                        content: '';
                        display: block;
                        width: 1px;
                        height: 10px;
                        background: rgba(112, 112, 112, .2);
                        position: absolute;
                        bottom: 100%;
                        left: 3px;
                        transform: translateX(-50%);
                    }
                }

                a {
                    width: 7px;
                    height: 7px;
                    border-radius: 100%;
                    background: rgba(112, 112, 112, .2);
                    position: relative;

                    &.active,
                    &.ex-active{
                        background: #FCAC22;

                        &:before {
                            background: #FCAC22;
                        }
                    }

                    span {
                        display: none;
                    }
                }
            }
        }
    }
}
