{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if attribute(object, 'image') is defined %}
        {% set imageTitle = getImageType(object) %}
        {% set imageType = getImageType(object) %}
        {% set imageUrlThumbnail = url('web.image', {'type' : imageType, 'size' : '200x200', 'crop' : 'resize', 'name' : object.image|default('default.jpg') }) %}
        {% set imageUrlDownload  = url('web.image', {'type' : imageType, 'size' : '9999x9999', 'crop' : 'resize', 'name' : object.image|default('default.jpg') }) %}
        <a href="{{ imageUrlDownload }}" target="_blank"><img src="{{ imageUrlThumbnail }}" alt="{{ imageTitle }}"></a>

    {% endif %}
{% endblock %}

