{# @var \App\Admin\AbstractAdmin admin #}

{% if admin.hasAccess('order', object) and admin.hasRoute('order') %}
    {% set button_content = sonata_config.getOption('list_action_button_content') %}
    <a
        href="{{ admin.generateObjectUrl('order', object, actions.link_parameters|default([])) }}"
        class="btn btn-sm btn-success order_link"
        title="{{ 'BOOK_ENTITY.BUTTON.ORDER'|trans({}, 'SonataAdminBundle') }}"
    >
        {% if button_content == 'icon' or button_content == 'all' %}
            <i class="fas fa-cart-plus" aria-hidden="true"></i>
        {% endif %}
        {% if button_content == 'text' or button_content == 'all' %}
            {{ 'BOOK_ENTITY.BUTTON.ORDER'|trans({}, 'SonataAdminBundle') }}
        {% else %}
            <span class="sr-only">
                {{ 'BOOK_ENTITY.BUTTON.ORDER'|trans({}, 'SonataAdminBundle') }}
            </span>
        {% endif %}
    </a>
{% endif %}
